.contact-section
    .container
        .row
            .col-12#maps
        .row.address.justify-content-center
            .col-12.col-md-3
                h3.title.title-third İLETİŞİM
            .col-12.col-md-6.align-items-center
                p Bebek Mahallesi, Seramik Sokak, No:3/4 Daire:5 Rumeli Hisarüstü / Beşiktaş – İstanbul
                a.text-blue.mail(href="https://goo.gl/maps/Uwm7bg8vEJ9vCcFY8" target="_blank") Yol Tarif Al
            .col-12.col-md-3
                a.button.button-primary(href="iletisim.html") İletişime Geçin