section.references-section
    .container
        .row.address.justify-content-between
            .col-7
                h3.title.title-third REFERANSLAR
            .col-5
                a.button.button-third.text-right(href="referanslar.html") Tüm Referanslar

    .slider-wrapper
        .container
            .owl-carousel.references-slider
                - var jpg = [8, 47]
                -for(var i = 1; i <= 76; i++)
                    if (i !== 12 && i !== 19)
                        .item
                            img.owl-lazy(data-src=prefix +  "/img/referanslar/" + i + (jpg.includes(i) ? ".jpg" : ".png"))
