extends layout/layout
block head
    - var breadCrumb = "<span>HAKKIMIZDA</span>"

block content
    section.content-wrapper.about-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary Hakkımızda
                p.main-description We display your ideas.

            .centerfix
                .row
                    .col-12
                        .row.align-items-end
                            img.width100(src=prefix+"/img/hakkimizda/top-img.jpg")

                    .col-12.white-content
                        .row
                            .col-12.col-md-4
                                h2.title.title-third.space Kimiz?
                            .col-12.col-md-6
                                p.mb30 2005 yılında kurulan Elis Ajans NOKTAYA ÖZEL ÇÖZÜMLER, STAND, FUAR, ETKİNLİK - AKTİVİTE alanı ve içeriği tasarımı ve uygulaması alanında profesyonel hizmet anlayışı ile faaliyet göstermektedir. Yurt içi ve yurt dışında hayata geçirdiğimiz 10.000’in üzerinde proje mevcuttur.
                                p Elis Ajans, projelerinizde ihtiyaç duyduğunuz TASARIM – PLANLAMA – ÜRETİM ve UYGULAMA hizmetleri için gerekli olan deneyimli personel ve teknik altyapıyı bünyesinde bulundurarak ANAHTAR TESLİM HİZMET sağlamaktadır.
                    .col-12.white-content
                        .row
                            .col-12
                                h2.title.title-third.space Şirketlerimiz
                        .col-12.our-compaines
                            .row.align-items-center
                                .col-12.col-lg-3
                                    img(src=prefix+"/img/hakkimizda/new_agency.jpg")
                                .col-12.col-lg-3
                                    h4.title.title-fourth Yeni Nesil Ajans
                                .col-12.col-lg-3
                                    p Türkiye'deki ilk ve tek oyun ve e-spor pazarlama ajansı.
                                .col-12.col-lg-3
                                    a.button.button-primary(href="http://www.newgenagency.com/" target="_blank") www.newgenagency.com

                        .col-12.our-compaines
                            .row.align-items-center
                                .col-12.col-lg-3
                                    img(src=prefix+"/img/hakkimizda/megg_sports.jpeg")
                                .col-12.col-lg-3
                                    h4.title.title-fourth Megg Sports
                                .col-12.col-lg-3
                                    p Leading sports marketing agency in Turkey
                                .col-12.col-lg-3
                                    a.button.button-primary(href="https://meggsports.com/" target="_blank") meggsports.com

    include components/references
    include components/contactSection