extends layout/layout
block head
    - var breadCrumb = "<span>İLETİŞİM</span>"

block content
    section.content-wrapper.contact-page
        .container
            .row
                .col-12.col-md-6.maps-area
                    #maps
                    .address-info
                        h3 Adres
                        p Bebek Mahallesi, Seramik Sokak, No:3/4 Daire:5 Rumeli Hisarüstü / Beşiktaş – İstanbul
                        a.text-blue.mail(href="https://goo.gl/maps/Uwm7bg8vEJ9vCcFY8" target="_blank") Tarif Al
                        p.phone Tel: +90 212 284 39 86
                        p.phone Fax: +90 212 284 39 96
                        a.text-blue(href="mailto:info@elisdt.com" target="_blank") info@elisdt.com

                .col-12.col-md-6
                    .contact-form-wrapper
                        h3.title.title-third.space Sizi Dinliyoruz!
                        p Elis ekibi olarak size destek olmak için buradayız. Projeleriniz ile ilgili her türlü soru ya da önerinizi bize buradan iletebilirsiniz.

                        .alert Form başarıyla gönderilmiştir.
                        form.contact-form.validate-form
                            .form-field
                                input(name="name", data-rule-required="true", autocomplete="off")
                                label İsim Soyisim
                            .form-field
                                input(name="email", data-rule-required="true", data-rule-email="true", autocomplete="off")
                                label E-mail
                            .form-field
                                textarea(name="message", data-rule-required="true")
                                label Mesajınız
                            .form-field
                                button.button.button-primary(type="submit") Gönder

block scripts
    script.
        $('.validate-form').each(function () {
            $(this).validate({
                errorPlacement: function (error, element) {
                    // Append error within linked label
                    $(element)
                        .parent().addClass('error');
                }

            })
        });