extends layout/layout
block head
    - isHomePage = true
block content
    section.homepage-slider-wrapper
        .owl-carousel.homepage-slider
            .item(style="background-image: url(" + prefix + "/img/home/slide-1.png")
                .container
                    .center
                        h4.title.title-fifth(style="color: #dffe00 !important;") WE DISPLAY <br>YOUR IDEAS
            .item(style="background-image: url(" + prefix + "/img/neler-yapiyoruz/event/big-img.jpg")
                .container
                    .center
                        h4.title.title-fifth EVENT & AKTİVİTE STANDLARI
                        a.button.button-fourth(href="neler-yapiyoruz-event.html") DETAY
            .item(style="background-image: url(" + prefix + "/img/neler-yapiyoruz/fuar/big-img.jpg")
                .container
                    .center
                        h4.title.title-fifth FUAR STANDLARI
                        a.button.button-fourth(href="neler-yapiyoruz-fuar-standlari.html") DETAY
            .item(style="background-image: url(" + prefix + "/img/neler-yapiyoruz/shopper/big-img.jpg")
                .container
                    .center
                        h4.title.title-fifth SHOPPER MARKETING
                        a.button.button-fourth(href="neler-yapiyoruz-shopper-marketing.html") DETAY
            .item(style="background-image: url(" + prefix + "/img/neler-yapiyoruz/noktaya-ozel/big-img.jpg")
                .container
                    .center
                        h4.title.title-fifth NOKTAYA ÖZEL ÇÖZÜMLER
                        a.button.button-fourth(href="neler-yapiyoruz-noktaya-ozel-cozumler.html") DETAY
        .nav-wrapper
            .container
                .row
                    .homepage-slider-nav
                        .item.hidden
                        .item
                            h5.title EVENT <br>& AKTİVİTE <br>STANDLARI
                            img.icon(src=prefix+"/img/home/event.svg")
                        .item
                            h5.title FUAR <br>STANDLARI
                            img.icon(src=prefix+"/img/home/fuar.svg")
                        .item.has-menu
                            h5.title SHOPPER <br>MARKETING
                            nav.menu-list
                                a(href="neler-yapiyoruz-shopper-marketing.html") AYAKLI STAND
                                a(href="neler-yapiyoruz-shopper-marketing.html") MASA ÜSTÜ STAND
                                a(href="neler-yapiyoruz-shopper-marketing.html") ORTA ALAN (PALET) STAND
                                a(href="neler-yapiyoruz-shopper-marketing.html") ASALAK STANDLAR
                                a(href="neler-yapiyoruz-shopper-marketing.html") RAF ÇÖZÜMLERİ
                                a(href="neler-yapiyoruz-shopper-marketing.html") GONDOL STANDLARI
                                a(href="neler-yapiyoruz-shopper-marketing.html") POP

                        .item
                            h5.title NOKTAYA <br>ÖZEL<br>ÇÖZÜMLER
                            img.icon(src=prefix+"/img/home/shopper.svg")

    section.homepage-about
        .container
            .row.align-items-center
                .col-12.col-md-6.img-wrapper
                    img(src=prefix + "/img/home/about.jpg")
                .col-12.col-md-6
                    h6.mini-title Hakkımızda
                    h6.title.title-third.space WE DISPLAY YOUR IDEAS
                    p 2005 yılında kurulan Elis Ajans NOKTAYA ÖZEL ÇÖZÜMLER, STAND, FUAR, ETKİNLİK - AKTİVİTE alanı ve içeriği tasarımı ve uygulaması alanında profesyonel hizmet anlayışı ile faaliyet göstermektedir.
                    a.button.button-primary(href="hakkimizda.html") DETAY



    include components/references
    include components/contactSection