extends layout/layout
block head
    - var breadCrumb = "<a href='neler-yapiyoruz.html'>NELER YAPIYORUZ?</a>/<span>Noktaya Özel Çözümler</span>"
block content
    section.content-wrapper.services-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary Noktaya Özel Çözümler

            .centerfix.col-12
                .row
                    .col-12
                        .row.align-items-end
                            img.width100(src=prefix+"/img/neler-yapiyoruz/noktaya-ozel/big-img.jpg")

                    .col-12.white-content
                        .row
                            .col-12.col-md-4
                                h2.title.title-third.space NASIL YAPIYORUZ?
                            .col-12.col-md-8
                                p Standart seri üretim uygulamalarının yanı sıra talebe göre değişkenlik gösterebilen ve kendine has çözümler sunulan projelerimiz ile gelişen ihtiyaçlara yönelik tasarım ve uygulama hizmetleri sunulmaktadır. Baştan sona projenin planlamasını yaparak benzersiz görsel ve etkileşimdeki projeleri üretiyoruz.
                    .col-12.white-content
                        .row
                            .col-12
                                h2.title.title-third.space NELER YAPTIK?

        .owl-carousel.services-slider.active
            -for(var i = 1; i <= 57; i++)
                a.colorbox(href=prefix + "/img/neler-yapiyoruz/noktaya-ozel/galeri/" + i + ".jpg", rel="0")
                    img.owl-lazy(data-src=prefix + "/img/neler-yapiyoruz/noktaya-ozel/galeri/" + i + ".jpg")

    include components/references
    include components/contactSection