extends layout/layout
block head
    - var breadCrumb = "<a href='neler-yapiyoruz.html'>NELER YAPIYORUZ?</a>/<span>Shopper MARKETING</span>"
block content
    -var folders = [{name:"ayakli", text: "AYAKLI STANDLAR", length: 87, png: [9, 14, 41, 43, 63, 70, 73, 75, 86]}, {name:"masaustu", text: "MASAÜSTÜ STANDLAR", length: 56, png: [32, 38, 40, 43, 46, 55]}, {name:"orta_alan", text: "ORTA ALAN (PALET) STAND", length: 20, png: [6,18,19,20]}, {name:"asalak", text:"ASALAK STANDLAR", length: 26, png: [18,19,22]}, {name:"raf_tepsileri", text: "RAF ÇÖZÜMLERİ", length: 36, png: [4,8,10]}, {name:"gondol", text: "GONDOL STANDLAR", length: 24, png: [16,22]}, {name:"pop", text: "POP", length: 14}]
    section.content-wrapper.services-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary SHOPPER MARKETING

            .centerfix.col-12
                .row
                    .col-12
                        .row.align-items-end
                            img.width100(src=prefix+"/img/neler-yapiyoruz/shopper/big-img.jpg")

                    .col-12.white-content
                        .row
                            .col-12.col-md-4
                                h2.title.title-third.space NASIL YAPIYORUZ?
                            .col-12.col-md-8
                                p Tüketicilerin ürünlerinizi en etkili şekilde denetebileceğiniz, içerisinde aktivite/oyun kurgusu bulunan satış arttırıcı maket içi aktivite tasarımı ve uygulamaları gerçekleştiriyoruz.

                                p.
                                    &bull; Ayaklı Stand <br/>
                                    &bull; Masaüstü StanD<br/>
                                    &bull; Orta Alan (Palet) Stand<br/>
                                    &bull; Asalak Standlar<br/>
                                    &bull; Raf Çözümleri<br/>
                                    &bull; Gondol Standlar<br/>
                                    &bull; Noktaya Özel Çözümler<br/>
                                    &bull; Pop
                    .col-12.white-content
                        .row
                            .col-12
                                h2.title.title-third.space NELER YAPTIK?
                            .col-12.mb40
                                each folder in folders
                                    a.tab-button(href="#"+folder.name, class=folder)= folder.text
        each folder in folders
            .owl-carousel.services-slider(id=folder.name)
                -for(var i = 1; i <= folder.length; i++)
                    a.colorbox(href=prefix + "/img/neler-yapiyoruz/shopper/galeri/" + folder.name + "/"+ i + (folder.png && folder.png.includes(i) ? '.png' : '.jpg'), rel=folder.name)
                        img.owl-lazy(data-src=prefix + "/img/neler-yapiyoruz/shopper/galeri/" + folder.name + "/"+ i + (folder.png && folder.png.includes(i) ? '.png' : '.jpg'))

    include components/references
    include components/contactSection