extends layout/layout
block head
    - var breadCrumb = "<span>NELER YAPIYORUZ?</span>"

block content
    section.content-wrapper.services-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary Neler yapıyoruz?
                p.main-description Elis Ajans Noktaya Özel Çözümler, Stand, Fuar, Etkinlik - Aktivite alanı ve içeriği tasarımı ve uygulaması alanında faaliyet göstermektedir.

            .centerfix.col-12
                .row.services-list
                    .col-12.item
                        .row
                            //img(src=prefix + "/img/referans.png")
                            img(src=prefix + "/img/neler-yapiyoruz/shopper/big-img.jpg")
                        .col-12.col-md-5.col-lg-4.description
                            h3.title.title-fourth Shopper Marketing
                            a.button.button-primary(href="neler-yapiyoruz-shopper-marketing.html") Detay

                    .col-12.item
                        .row
                            //img(src=prefix + "/img/referans.png")
                            img(src=prefix + "/img/neler-yapiyoruz/fuar/big-img.jpg")
                        .col-12.col-md-5.col-lg-4.description
                            h3.title.title-fourth Fuar Standları
                            a.button.button-primary(href="neler-yapiyoruz-fuar-standlari.html") Detay

                    .col-12.item
                        .row
                            //img(src=prefix + "/img/referans.png")
                            img(src=prefix + "/img/neler-yapiyoruz/event/big-img.jpg")
                        .col-12.col-md-5.col-lg-4.description
                            h3.title.title-fourth Event & Aktivite Standları
                            a.button.button-primary(href="neler-yapiyoruz-event.html") Detay

                    .col-12.item
                        .row
                            //img(src=prefix + "/img/referans.png")
                            img(src=prefix + "/img/neler-yapiyoruz/noktaya-ozel/big-img.jpg")
                        .col-12.col-md-5.col-lg-4.description
                            h3.title.title-fourth Noktaya Özel Çözümler
                            a.button.button-primary(href="neler-yapiyoruz-noktaya-ozel-cozumler.html") Detay

    include components/references
    include components/contactSection