extends layout/layout
block head
    - var breadCrumb = "<a href='neler-yapiyoruz.html'>NELER YAPIYORUZ?</a>/<span>Event & Aktivite Standları</span>"
block content
    section.content-wrapper.services-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary Event & Aktivite Standları

            .centerfix
                .row
                    .col-12
                        .row.align-items-end
                            img.width100(src=prefix+"/img/neler-yapiyoruz/event/big-img.jpg")

                    .col-12.white-content
                        .row
                            .col-12.col-md-4
                                h2.title.title-third.space NASIL YAPIYORUZ?
                            .col-12.col-md-8
                                p Markaların ve ürünlerin son kullanıcı tarafından tüm detaylarıyla birlikte deneyimlenebileceği görsel etkisi yüksek etkinlik alanları tasarlıyor , planlıyor ve üretiyoruz.
                    .col-12.white-content
                        .row
                            .col-12
                                h2.title.title-third.space NELER YAPTIK?

        .owl-carousel.services-slider.active
            -for(var i = 1; i <= 22; i++)
                a.colorbox(href=prefix + "/img/neler-yapiyoruz/event/galeri/" + i + ".jpg", rel="0")
                    img.owl-lazy(data-src=prefix + "/img/neler-yapiyoruz/event/galeri/" + i + ".jpg")

    include components/references
    include components/contactSection