extends layout/layout
block head
    - var breadCrumb = "<a href='neler-yapiyoruz.html'>NELER YAPIYORUZ?</a>/<span>Fuar Standları</span>"
block content
    section.content-wrapper.services-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary Fuar Standları

            .centerfix.col-12
                .row
                    .col-12
                        .row.align-items-end
                            img.width100(src=prefix+"/img/neler-yapiyoruz/fuar/big-img.jpg")

                    .col-12.white-content
                        .row
                            .col-12.col-md-4
                                h2.title.title-third.space NASIL YAPIYORUZ?
                            .col-12.col-md-8
                                p Markanın kurumsal kimliğini yansıtan, markayı ve ürünleri ön plana çıkartan, ziyaretçileri rahat hissettirirken, katılımcıların ziyaretçilere en verimli iletişimi kurabilmesi için kullanışlı ve görsel cazibesi yüksek fuar stand alanları tasarlıyor ve üretiyoruz.
                    .col-12.white-content
                        .row
                            .col-12
                                h2.title.title-third.space NELER YAPTIK?

        .owl-carousel.services-slider.active
            - var png = [41];
            -for(var i = 1; i <= 50; i++)
                a.colorbox(href=prefix + "/img/neler-yapiyoruz/fuar/galeri/" + i + (png.includes(i) ? ".png" : ".jpg"), rel="0")
                    img.owl-lazy(data-src=prefix + "/img/neler-yapiyoruz/fuar/galeri/" + i + ".jpg")

    include components/references
    include components/contactSection