extends layout/layout
block head
    - var breadCrumb = "<span>REFERANSLAR</span>"

block content
    section.content-wrapper.references-page.bg-overlay
        .container
            .page-top
                h1.title.title-primary Referanslar

            .col-12.references-list
                .row
                    - var jpg = [8, 47]
                    -for(var i = 1; i <= 76; i++)
                        if (i !== 12 && i !== 19)
                            .col-6.col-md-3.item
                                img(src=prefix + "/img/referanslar/" + i + (jpg.includes(i) ? ".jpg" : ".png"))


    include components/contactSection