.about-page {
  .our-compaines {
    border: 5px solid $blue;
    padding: 30px 30px;
    align-items: center;
    margin-top: 30px;

    @include minBreakpoint($tablet) {
      padding: 30px 15px;
    }

    img {
      max-width: 100%;
    }

    .row > div:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}