.contact-page {
  padding: 50px 0;

  .maps-area {
    position: relative;

    #maps {
      position: relative;
      display: block;
      width: 100%;
      z-index: 1;
      height: 400px;
      margin-bottom: 260px;

      @include minBreakpoint($phablet) {
        height: 800px;
        margin-bottom: 0;
      }
    }

    .address-info {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      padding: 50px;
      background: $white;
      font-size: 15px;

      @include minBreakpoint($phablet) {
        left: 60px;
        right: 60px;
        bottom: 60px;
      }

      h3 {
        font-size: 22px;
        font-weight: normal;
        letter-spacing: 0.41px;
        color: $black;
        margin-bottom: 10px;
      }

      p {
        color: $gray;
      }

      .mail {
        display: block;
        padding: 15px 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #e7e7e7;
      }
    }
  }

  .contact-form-wrapper {
    background: $light_blue;
    padding: 40px 30px;

    @include minBreakpoint($phablet) {
      padding: 60px 50px;
    }

    p {
      margin-bottom: 40px;
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.alert {
  display: block;
  margin-bottom: 20px;
  border: 1px solid #00c500;
  background: #8ddc8d;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}