.homepage-slider-wrapper {
  @include centerfix;
  height: 630px;
  margin-top: -180px;

  @include minBreakpoint($phablet) {
    height: 700px;
  }

  .container {
    height: 100%;
  }

  .homepage-slider {
    @include centerfix;
    height: 100%;
    z-index: 3;

    .item {
      @include centerfix;
      height: 630px;
      background-position: top center;
      background-size: cover;

      &:first-child {
        @include breakpoint($phablet) {
          background-position: 80% 50% !important;
        }
      }

      @include minBreakpoint($phablet) {
        background-position: top center;
        height: 700px;
      }

      .center {
        @include center(true, true);
        width: 100%;
        margin: 0 15px;

        @include breakpoint($phablet) {
          margin-top: -50px;
        }
      }

      .title {
        display: block;
        margin-bottom: 20px;
        text-shadow: 0 0 2px #000;

        @include minBreakpoint($phablet) {
          max-width: 60%;
        }
      }

      p {
        display: block;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.5;
        color: $white;
        margin-bottom: 40px;
      }

      .button {
        max-width: 250px;


        @include minBreakpoint($phablet) {
          transform: scale(1);
        }
      }
    }

    .owl-nav {
      z-index: 5;
      button {
        position: absolute;
        top: 70px;
        zoom: 0.7;

        &.owl-prev {
          left: 10px;
          top: 104px;
        }

        &.owl-next {
          left: 90px;
        }

        @include minBreakpoint($phablet) {
          display: flex;
          top: 0;
          zoom: 1;

          &.owl-prev {
            left: 30px;
            top: 30px;
          }

          &.owl-next {
            left: auto;
            right: 30px;
          }
        }
      }
    }
  }
  .nav-wrapper {
    position: absolute;
    top: 78%;
    left: 15px;
    right: 15px;
    z-index: 4;

    @include minBreakpoint($phablet) {
      top: 90%;
    }
  }

  .homepage-slider-nav {
    @include centerfix;
    height: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: row;

    .item {
      position: relative;
      display: flex;
      align-items: center;
      width: 25%;
      padding: 25px;
      height: 200px;
      transition: all $animation_speed $animation_easing;
      overflow: hidden;
      cursor: pointer;
      background-color: $blue;
      box-shadow: 0 22px 154px 0 rgba(0, 0, 0, 0.07);

      &:nth-child(2) {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
      }
      &:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
      }

      &.active {
        width: 60%;
        height: 300px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        background-color: $yellow;

        &.has-menu {
          padding: 25px 20px;

          .title {
            margin-bottom: 220px;
          }
        }

        .title {
          opacity: 1;
          color: $blue;
          text-decoration: underline;
        }

        .menu-list {
          display: block;
          opacity: 1;
        }

        .icon {
          opacity: 1;
        }
      }

      @include minBreakpoint($phablet) {
        width: 25%;
        height: 270px;
        padding: 50px 25px;

        &.active {
          height: 360px;
          width: 25%;
        }
      }

      .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.13;
        color: $white;
        transition: all $animation_speed $animation_easing;
        opacity: 0;

        @include minBreakpoint($tablet) {
          font-size: 30px;
          opacity: 1;
          left: 25px;
        }
      }

      .menu-list {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        transition: all $animation_speed $animation_easing;
        opacity: 0;
        display: none;

        a {
          position: relative;
          display: block;
          font-family: $font_second;
          font-size: 11px;
          color: $blue;
          padding: 8px 35px 8px 25px;

          @include minBreakpoint($phablet) {
            font-size: 14px;
          }

          &:nth-child(2n) {
            background-color: rgba(255,255,255,0.4);
          }

          &:after {
            content: "";
            @include center(false, true);
            right: 15px;
            background: url("../img/icon-arrow-right.svg") no-repeat;
            width: 15px;
            height: 10px;
            background-size: cover;
          }
        }
      }

      .icon {
        @include center(true, false);
        bottom: 30px;
        width: 60px;

        @include minBreakpoint($tablet) {
          left: auto;
          transform: translate(0, 0);
          right: 20px;
          width: 105px;
          opacity: 0;
        }
      }
    }
  }
}

.homepage-about {
  @include centerfix;
  //background: $light_blue;
  padding: 450px 0 160px 0;

  .img-wrapper {
    img {
      float: right;

      @include breakpoint($phablet) {
        height: 350px;
      }
    }
  }

  .mini-title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    line-height: 2.67;
    color: $blue;
  }

  .title {
    line-height: 1.25;
    max-width: 80%;
  }

  p {
    display: block;
    font-size: 15px;
    font-weight: normal;
    line-height: 2;
    color: #50565b;
    margin-bottom: 30px;
  }

  .button {
    max-width: 250px;
  }
}