.references-page {
  margin-bottom: 100px;
  .references-list {
    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 250px;
      border: 1px solid #ececec;
      z-index: 3;
      transition: all $animation_speed $animation_easing;
      background: $white;

      &:hover {
        z-index: 4;
        box-shadow: 0 50px 84px 0 rgba(0, 0, 0, 0.13);
      }

      img {
        width: 100%;
        max-width: 60%;
        max-height: 60%;
      }
    }
  }
}