.services-page {
  .services-list {
    .item {
      position: relative;
      margin-bottom: 100px;

      @include minBreakpoint($phablet) {
        margin-bottom: 150px;
      }

      img {
        width: 100%;
      }

      .description {
        background: $white;
        padding: 30px;
        margin: -30px 0;

        @include minBreakpoint($phablet) {
          position: absolute;
          left: 80px;
          top: 65px;
          min-height: 100%;
          padding: 50px;
          display: flex;
          align-content: flex-end;
          flex-flow: wrap;
        }

        .title {
          margin-bottom: 20px;
        }

        p {
          font-size: 15px;
          font-weight: normal;
          color: #50565b;
          margin-bottom: 20px;
          font-family: $font_primary;

          @include minBreakpoint($phablet) {
            font-size: 20px;
          }

        }
      }
    }
  }

  .tab-button {
    display: inline-block;
    border-radius: 20.5px;
    border: solid 2px $yellow;
    line-height: 40px;
    padding: 0 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: $font_second;
    font-weight: 400;
    color: $blue;

    &.active, &:hover {
      background: $blue;
      border: solid 2px $blue;
      color: $yellow;
    }
  }

  .services-slider {
    @include centerfix;
    z-index: 9;
    margin-top: -50px;
    display: none !important;

    &.active {
      display: block !important;
    }

    .owl-nav {
      @include center(true, false);
      top: 250px;

      .owl-prev, .owl-next {
        @include center(false, true);
      }

      .owl-prev {
        left: 10px;

        @include minBreakpoint($phablet) {
          left: 100px;
        }
      }

      .owl-next {
        right: 10px;

        @include minBreakpoint($phablet) {
          right: 100px;
        }
      }
    }

    .colorbox {
      @include centerfix;
      height: 400px;
      overflow: hidden;
      background: $white;

      img {
        @include center(true, true);
        max-width: 100%;
        max-height: 100%;
        width: auto;
      }
    }
  }
}