/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  -webkit-transform: translate3d(0, 0, 0);
}

#cboxWrapper {
  max-width: none;
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

#cboxContent {
  position: relative;
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#cboxTitle {
  margin: 0;
}

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background: #fff;
}

#colorbox {
  outline: 0;
}

#cboxContent {
  margin-top: 32px;
  overflow: visible;
  box-shadow: 0 2px 4px 0 rgba(143, 143, 143, 0.5);
  background-color: #ffffff;
  padding: 0px;
  text-align: center;
  border-radius: 20px;
}

.cboxIframe {
  background: #fff;
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

#cboxLoadingOverlay {
  background: #000;
}

#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}

#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */


/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

#cboxClose {
  position: absolute;
  top: 25px;
  right: 10px;
  background: $blue;
  width: 68px;
  height: 68px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border-radius: 50%;
  line-height: 42px;
  color: $blue;
  border: none;

  @include minBreakpoint($phablet) {
    right: -100px;
  }

  &:after, &:before {
    content: "";
    @include center(true, true);
    width: 32px;
    height: 2px;
    border-radius: 3px;
    background: $yellow;
    transition: all ease .5s;
  }

  &:before {
    transform: translate(-50%, -50%) rotate(43deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(-43deg);
  }
}

.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px;
}

.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}

.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}

.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}

#cboxPrevious, #cboxNext {
  @include center(false, true);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 68px;
  height: 68px;
  border: 1px solid $blue !important;
  border-radius: 50%;
  outline: none;
  background: $blue !important;
  color: $blue;
  transition: all $animation_speed $animation_easing;
  right: 0;

  @include minBreakpoint($phablet) {
    right: -100px;
  }

  &:before {
    @include center(center, true);
    content: url("../img/icon-arrow-right-yellow.svg");
    height: 24px;
  }

  span {
    display: none;
  }

  &:hover {
    background: $white !important;
    color: $white;

    &:before {
      content: url("../img/icon-arrow-right.svg");
    }
  }
}

#cboxPrevious {
  right: auto;
  left: 0;
  &:before {
    transform: translate(-50%, -50%) rotate(-180deg);
  }
  @include minBreakpoint($phablet) {
    left: -100px;
  }
}