.contact-section {
  @include centerfix;
  color: $black;
  border-bottom: 1px solid #e1e3e7;
  padding: 185px 0 35px 0;
  margin-top: 250px;
  z-index: 2;

  #maps {
    position: absolute;
    left: 0;
    top: -450px;
    height: 385px;
  }

  .address {
    > div {
      margin: 15px 0;
    }
  }
}