.references-section {
  @include centerfix;
  padding: 100px 0;
  background: $white;
  z-index: 2;

  .slider-wrapper {
    display: block;
    width: 100%;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin-top: 30px;

    .references-slider {
      position: relative;

      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 208px;
        border: 1px solid #ececec;

        img {
          max-width: 80%;
          max-height: 80%;
        }
      }

      .owl-nav {
        @include center(true, true);
        width: 100%;

        .owl-prev, .owl-next {
          @include center(false, true);
        }

        .owl-prev {
          left: -120px;
        }

        .owl-next {
          right: -120px;
        }
      }
    }
  }
}