- var prefix = "./public/dist";
- var isHomePage = false;
<!DOCTYPE html>
html(lang="tr")
    head
        block head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        title Elis
        meta(name="description", content="Elis")
        meta(name="keywords", content="Elis")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0")
        meta(name="msapplication-TileColor", content="#ffffff")
        meta(name="theme-color", content="#ffffff")
        meta(name="format-detection", content="telephone=no")
        link(rel="shortcut icon", type="image/x-icon", href=prefix + "/img/favicon/favicon.ico")
        link(rel="apple-touch-icon", href=prefix + "/img/favicon/apple-icon-57x57.png")
        link(rel="apple-touch-icon", sizes="72x72", href=prefix + "/img/favicon/apple-icon-72x72.png")
        link(rel="apple-touch-icon", sizes="114x114", href=prefix + "/img/favicon/apple-icon-114x114.png")
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href=prefix + "/css/style.css")
        link(rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="")

    body
        header#header
            .container.d-flex.justify-content-between.align-items-center
                .header-left
                    figure.logo
                        a(href="index.html")
                            if (isHomePage)
                                img(src=prefix+"/img/elis-logo-white.svg" alt="elis logo")
                            else
                                img(src=prefix+"/img/elis-logo.svg" alt="elis logo")
                    if (breadCrumb)
                        .breadcrumb
                            a(href="index.html") ANASAYFA
                            | /
                            | !{breadCrumb}

                - if (isHomePage)
                    - var hmClass = 'homepage'
                button.toggle-menu(class=hmClass)
                    span.on MENÜ
                    span.off KAPAT

                nav.main-menu
                    ul
                        li
                            a(href="index.html") ANASAYFA
                        li
                            a(href="hakkimizda.html") HAKKIMIZDA
                        li
                            a(href="neler-yapiyoruz.html") NELER YAPIYORUZ
                        li
                            a(href="referanslar.html") REFERANSLAR
                        li
                            a(href="iletisim.html") İLETİŞİM
                        li.social
                            span Bizi instagramda takip edin!
                            a(href="https://www.instagram.com/elis_ajans/?hl=tr" target="_blank")
                                img(src=prefix + "/img/icon-instagram.svg")

        main#main
            block content

        footer#footer
            .container
                .row.d-flex.align-items-center
                    figure.logo.col-12.col-md-2.col-lg-2.justify-content-center.justify-content-md-start
                        a(href="index.html")
                            img(src=prefix + "/img/elis-logo.svg" alt="elis logo")
                    nav.footer-menu.col-12.col-md-8.justify-content-center.justify-content-md-start
                        ul
                            li
                                a(href="hakkimizda.html") Hakkımızda
                            li
                                a(href="neler-yapiyoruz.html") Neler Yapıyoruz
                            li
                                a(href="referanslar.html") Referanslar
                            li
                                a(href="iletisim.html") İletişim

        script(src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin="")
        script(type="text/javascript", src=prefix + "/js/bundle.js")
        block scripts

