#footer {
  @include centerfix;
  z-index: 1;
  padding: 30px 0;

  @include minBreakpoint($phablet) {
    min-height: 200px;
  }

  .container {
    height: 100%;
  }

  .logo {
    display: flex;

    @include minBreakpoint($phablet) {
      margin: 39px 0;
    }

    img {
      height: 62px;
    }
  }

  .footer-menu {
    display: flex;

    ul {
      display: flex;
      flex-direction: row;

      li {
        margin: 10px 2vw;
        a {
          display: block;
          font-family: $font_primary;
          opacity: 0.41;
          font-size: 15px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 2.67;
          letter-spacing: normal;
          color: $black;
          transition: all $animation_speed $animation_easing;

          @include minBreakpoint($phablet) {
            font-size: 15px;
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}