#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9;

  .header-left {
    display: flex;
    align-items: center;
  }

  .breadcrumb {
    display: flex;
    height: 100%;
    order: 4;
    font-size: 12px;
    color: $blue;
    font-family: $font_second;
    text-transform: uppercase;
    align-items: center;
    margin-left: 40px;

    @include breakpoint($phablet) {
      position: absolute;
      left: 15px;
      top: 100%;
      height: auto;
      width: 100%;
      margin-left: 0;
    }

    a {
      color: $blue;
      text-decoration: underline;
      padding: 0 3px;
    }

    span {
      color: $black;
      padding: 0 3px;
    }
  }

  .logo {
    display: flex;
    height: 80px;
    margin: 20px 0;

    @include minBreakpoint($phablet) {
      margin: 50px 0;
    }

    img {
      max-height: 100%;
    }
  }

  .toggle-menu {
    @include center(false, true);
    right: 15px;
    font-size: 16px;
    font-family: $font_primary;
    color: $black;
    font-weight: 700;
    margin-right: 40px;
    padding-right: 50px;
    background: transparent;
    border: none;
    z-index: 4;
    transition: all $animation_easing $animation_speed;
    outline: none;

    &.homepage {
      color: $white;

      &:after, &:before {
        background: $white;
      }
    }

    .on {
      display: block;
    }
    .off {
      display: none;
    }

    &.active {
      color: $white;

      .on {
        display: none;
      }
      .off {
        display: block;
      }

      &:after, &:before {
        margin: 0;
        background: $white;
      }
    }

    &:after, &:before {
      @include center(false, true);
      content: "";
      right: 0;
      width: 38px;
      height: 2px;
      background: $black;
      transition: all $animation_easing $animation_speed;
    }

    &:before {
      margin-top: -5px;
    }

    &:after {
      margin-top: 5px;
    }

  }

  .main-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 0;
    transition: all $animation_easing $animation_speed;

    &.active {
      height: 100%;

      ul {
        li {
          a {
            opacity: 1 !important;
          }
        }
      }
    }

    ul {
      display: flex;
      flex-direction: column;

      li:not(.social) {
        @for $i from 1 through 5 {
          &:nth-child(#{$i}) a {
            transition-delay: $i * 0.15s;
          }
        }
        a {
          position: relative;
          display: block;
          font-family: $font_second;
          font-size: 24px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: $yellow;
          transition: opacity $animation_speed $animation_easing;
          opacity: 0;

          &:hover {
            color: $black;

            &:after, &:before {
              width: 50%;
            }
          }

          &:after, &:before {
            content: "";
            @include center(true, false);
            bottom: -5px;
            width: 0;
            height: 2px;
            background: $black;
            transition: all $animation_speed $animation_easing;
            transition-delay: 0s;
          }

          @include minBreakpoint($phablet) {
            font-size: 60px;
          }
        }
      }

      li.social {
        margin-top: 50px;
        text-align: center;

        span {
          display: block;
          font-size: 15px;
          color: $black;
          font-family: $font_second;
          margin-bottom: 10px;
        }

        a {
          @include breakpoint($phablet) {
            img {
              width: 50px;
            }
          }
        }
      }
    }
  }
}