#main {
  padding-top: 180px;
  min-height: 600px;
  font-size: 15px;
  font-weight: 400;
  @include centerfix;
  z-index: 2;
  overflow-x: hidden;
}

.content-wrapper {
  @include centerfix;
  padding: 50px 0;

  .page-top {
    @include centerfix;
    padding: 0 20px 100px 20px;

    @include minBreakpoint($phablet) {
      padding: 0 50px 100px 0;
    }

    .title {
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    .main-description {
      display: block;
      font-size: 15px;
      font-weight: 400;
      line-height: 1.5;
      color: #4f5a68;

      @include minBreakpoint($phablet) {
        font-size: 20px;
      }
    }
  }

  .white-content {
    padding: 40px 20px;
    background: $white;

    @include minBreakpoint($phablet) {
      padding: 90px 65px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #e6e6e6;
    }

    p {
      font-size: 13px;
      font-weight: normal;
      line-height: 1.6;
      color: #676767;

      @include minBreakpoint($phablet) {
        font-size: 15px;
      }
    }
  }
}

.bg-overlay {
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 400px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $light_blue;
  }
}

.centerfix {
  @include centerfix;
}

.container {
  position: relative;
  z-index: 2;
}

.img img {
  max-width: 100%;
  border-radius: 20px;
}

.mr15 {
  margin-right: 15px;
}

.mtb15 {
  margin: 15px 0;
}

.mb40 {
  margin-bottom: 40px;
}

.mb30 {
  margin-bottom: 30px;
}

.mt100 {
  margin-top: 100px;
}

.clear {
  margin: 0 !important;
}

.width100 {
  width: 100%;
}

.b {
  font-weight: 700;
}

.light {
  font-weight: 300 !important;
}

.i {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-blue {
  color: $blue !important;
}