/*Button css*/
.button {
  position: relative;
  display: inline-block;
  border: none;
  outline: none;
  transition: all $animation_easing $animation_speed;

  &-primary {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 47px;
    background: $blue;
    color: $yellow;
    text-align: center;
    font-family: $font_primary;
    border: 4px solid $blue;
    border-radius: 29px;

    &:hover {
      background: $white;
      color: $blue;
    }
  }

  &-second {
    width: 100%;
    font-family: $font_primary;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 55px;
    color: $white;
    border: 1px solid $white;
    text-align: center;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 4px solid $white;
      transition: all $animation_easing $animation_speed;
      opacity: 0;
    }

    &:hover:before {
      opacity: 1;
    }
  }

  &-third {
    width: 100%;
    font-family: $font_primary;
    font-size: 15px;
    font-weight: 700;
    line-height: 2.67;
    color: $blue;
    text-decoration: underline;
    text-align: center;
  }

  &-fourth {
    width: 100%;
    font-family: $font_second;
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 55px;
    color: $black;
    border: 2px solid $white;
    transition: all $animation_easing $animation_speed;
    text-align: center;
    border-radius: 29px;
    background-color: $white;

    &:hover{
      background-color: transparent;
      color: $white;
    }
  }
}