/*Title css*/
.title {
  display: inline-block;
  border: none;
  outline: none;
  font-family: $font_second;

  &-primary {
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: $blue;

    @include minBreakpoint($phablet) {
      font-size: 62px;
    }

    @include minBreakpoint($small_desktop) {
      font-size: 72px;
    }
  }

  &.space {
    margin-bottom: 20px;
  }

  &-second {
    font-size: 36px;
    font-weight: 700;
    color: $white;

    @include minBreakpoint($phablet) {
      font-size: 48px;
    }
  }

  &-third {
    font-size: 36px;
    font-weight: 700;
    color: $blue;

    @include minBreakpoint($phablet) {
      font-size: 48px;
    }
  }

  &-fourth {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: $blue;

    @include minBreakpoint($phablet) {
      font-size: 30px;
    }
  }

  &-fifth {
    font-size: 48px;
    font-weight: 700;
    color: $white;

    @include minBreakpoint($phablet) {
      font-size: 60px;
    }
  }
}