
$font_primary: 'Roboto', sans-serif;
$font_second: 'Oswald', sans-serif;

/*
* Color global variable
*/
$black 						: #000;
$white						: #fff;
$blue                       : #aebbd5;
$light_blue                 : #f0f4f9;
$dark_gray                  : #1a1f24;
$gray                       : #676767;
$yellow                     : #dffe00;

/*Reset.scss'teki a color */
$default_link_color: #759cb1;

/*Reset.scss'teki Input font*/
$input_font: $font_second;

/*
* 	Font size global variable
*/
$font_size_xxl		: 48px;
$font_size_xl		: 36px;
$font_size_l 		: 24px;
$font_size_m 		: 18px; 
$font_size_s 		: 16px;
$font_size_xs 		: 12px;

/*
* Media query size variable
*/
$small_desktop	: 1170px;
$tablet			: 992px;
$phablet		: 768px;
$mobile			: 480px;

/*
* Animate delay
*/
$animation_speed: .5s;
$animation_easing: ease;